# Customer-Facing Microservices URLs for OyeBunny Frontend Template
NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:5000
NEXT_PUBLIC_REWARD_SERVICE_URL=http://localhost:5001
NEXT_PUBLIC_WALLET_SERVICE_URL=http://localhost:5002
